.game-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*margin-left: 27px;
  margin-right: 5px;*/
  padding-top: 10px;
  color: #7B97FF;
  /*border: 1px solid red;*/
}

.title {
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  /*border: 1px solid red;*/
}

.desc {
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 12px;
  font-weight: bold;
  /*border: 1px solid red;*/
}

.legend {
  align-items: center;
  justify-content: center;
  /*margin: 8px;*/
  /*margin-left: 14px;*/
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  background: #7B97FF;
  color: #DFE6FF;
  border: 1px solid #7B97FF;
}

#canvas {
  /*position: absolute;*/
  justify-content: center;
  align-items: center;
  margin: 1%;
  background: #C1CFFF;
  border: #7B97FF 2px solid
}
